.image-container {
    max-width: 100%;
    overflow-x: hidden; /* Hides horizontal overflow */
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }

  /*#boxes{
   display: flex;
  }*/
  .footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }